<p>
  <b>Promoank:</b>
  <%=h @anktolang.promoank %>
</p>

<p>
  <b>Language:</b>
  <%=h @anktolang.language %>
</p>

<p>
  <b>Langlevel:</b>
  <%=h @anktolang.langlevel %>
</p>


<%= link_to 'Edit', edit_anktolang_path(@anktolang) %> |
<%= link_to 'Back', anktolangs_path %>